@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style:none;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: calc(100% - 220px);
	background-color: white;
}

h2 {
	text-align:center;
	line-height: 48px;
}
