<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>Encoding</display-name>
    <filter-name>Encoding</filter-name>
    <filter-class>util.Encoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/Encoding</url-pattern>
  </filter-mapping>
  <display-name>Library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RentCtrl</display-name>
    <servlet-name>RentCtrl</servlet-name>
    <servlet-class>ctrl.RentCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentCtrl</servlet-name>
    <url-pattern>/RentCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCtrl</display-name>
    <servlet-name>ViewCtrl</servlet-name>
    <servlet-class>ctrl.ViewCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCtrl</servlet-name>
    <url-pattern>/ViewCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberCtrl</display-name>
    <servlet-name>MemberCtrl</servlet-name>
    <servlet-class>ctrl.MemberCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCtrl</servlet-name>
    <url-pattern>/MemberCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberAddCtrl</display-name>
    <servlet-name>MemberAddCtrl</servlet-name>
    <servlet-class>ctrl.MemberAddCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAddCtrl</servlet-name>
    <url-pattern>/MemberAddCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberEditCtrl</display-name>
    <servlet-name>MemberEditCtrl</servlet-name>
    <servlet-class>ctrl.MemberEditCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditCtrl</servlet-name>
    <url-pattern>/MemberEditCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCtrl</display-name>
    <servlet-name>BookCtrl</servlet-name>
    <servlet-class>ctrl.BookCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCtrl</servlet-name>
    <url-pattern>/BookCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEditCtrl</display-name>
    <servlet-name>BookEditCtrl</servlet-name>
    <servlet-class>ctrl.BookEditCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditCtrl</servlet-name>
    <url-pattern>/BookEditCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAddCtrl</display-name>
    <servlet-name>BookAddCtrl</servlet-name>
    <servlet-class>ctrl.BookAddCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAddCtrl</servlet-name>
    <url-pattern>/BookAddCtrl</url-pattern>
  </servlet-mapping>
</web-app>